<!-- Parallax Section -->
<section class="site-section parallax-features-section parallax" id="parallax-features" data-scrollax-parent="true">

  <!-- Parallax Image -->
  <div class="cover" data-scrollax="properties: { 'translateY': '48%' }">
    <img src="{{ site.baseurl }}/images/backgroundfree.jpg" style="opacity: 0.3" alt="Parallax Features" />
  </div>

  <div class="container">

    <!-- Section Heading --> 
    <div class="row text-center">

      <!-- Section Header -->
      <header class="col-md-8 col-md-push-2 col-sm-12 section-header">
        <h2 style="color: #54126a">{{ site.core-title }}</h2>
        <hr class="normal">
      </header>

      <!-- Section Content -->
      <div class="col-md-8 col-md-push-2 col-sm-12 section-content">
        <p style="color: #54126a">{{ site.core-description }}</p>
      </div>

    </div>

    <!-- Section Features -->
    <div class="row section-features">

      <div class="col-md-4 col-sm-6 text-right">

        {% for feature in site.core-features-left %}

        <div class="feature">
          <div class="text-wrap"  >
            <h3 style="color: green">{{ feature.name }}</h3>
            <p  style="color: green">{{ feature.description }}</p>
          </div>
          <div class="icon-wrap">
            <div class="circle parent">
              <i class="{{ feature.icon }} child-center"  style="color: green"></i>
            </div>
          </div>
        </div>

        {% endfor %}

      </div>

      <div class="col-md-4 phone">
        <img src="{{ site.baseurl }}/images/phone7.png" alt="Phone Image" />
      </div>

      <div class="col-md-4 col-sm-6 text-left">

        {% for feature in site.core-features-right %}

        <div class="feature">
          <div class="text-wrap">
            <h3  style="color: green">{{ feature.name }}</h3>
            <p  style="color: green">{{ feature.description }}</p>
          </div>
          <div class="icon-wrap">
            <div class="circle parent">
              <i class="{{ feature.icon }} child-center"  style="color: green"></i>
            </div>
          </div>
        </div>

        {% endfor %}

      </div>

    </div>

  </div>
</section>
