<!-- Site Footer -->
<footer class="site-footer" id="footer">
  <div class="container">

    <div class="row">
      <div class="col-md-6 col-md-push-3 footer-info text-center">

        <div class="footer-logo">
          <img src="{{ site.baseurl }}/images/Hintergrund3.PNG" width="140" alt="Sera - OnePage Logo by Ohkimur" />
        </div>

        <div class="footer-info-text">
          <p>{{ site.footer-description }}</p>
        </div>

        <div>
          <p>
           <b> Impressum </b>
<br>
<br>
            <u>Inhaltlich verantwortlich:</u>
            <br>
            Ingenieurbüro Brand
            <br>
            Marcus Brand
            <br>
            Dückerweg 21
            44867 Bochum
            <br><br>
             
            
            Telefon: +(49) 176 55022369
            <br>
            
            
            E-Mail: Ingenieurbuero-Brand@posteo.de
            <br>
             
            
            Umsatzsteuer­identnummer: DE 306/5025/3103
            <br> <br>
            Ingenieurbüro Brand arbeitet im Bereich der amtlichen Fahrzeuguntersuchung im Namen und für Rechnung der GTÜ Gesellschaft für Technische Überwachung mbH, Vor dem Lauch 25, 70567 Stuttgart. <br>
            Informationen zur GTÜ finden Sie auf deren Website unter: <a target="_blank" href="https://www.gtue.de">www.gtue.de</a> 
            <br><br>
            Die GTÜ ist von allen Bundesländern der BRD als Überwachungsorganisation im Sinne der Anlage VIIIb zur StVZO amtlich anerkannt.
            <br><br>
            <u>Alternative Streitbeilegung:</u><br>
            An einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle nehmen wir nicht teil und sind dazu auch nicht verpflichtet.

          </p>
        </div>

        <div class="social-icons">
          <ul class="icons">
      <!--        <li><a href="{{ site.youtube }}" target="_blank"><i class="fi flaticon-youtube"></i></a></li>
         <li><a href="{{ site.pinterest }}" target="_blank"><i class="fi flaticon-pinterest"></i></a></li> 
            <li><a href="{{ site.facebook }}" target="_blank"><i class="fi flaticon-facebook"></i></a></li>--> 
         <!--      <li><a href="{{ site.twitter }}" target="_blank"><i class="fi flaticon-twitter"></i></a></li>-->  
          <!--     <li><a href="{{ site.google-plus }}" target="_blank"><i class="fi flaticon-google-plus"></i></a></li>-->  
         <!--      <li><a href="{{ site.vimeo }}" target="_blank"><i class="fi flaticon-vimeo"></i></a></li>-->  
          </ul>
        </div>

      </div>

      <div class="col-md-8 col-md-push-2 footer-copyright">
        <div class="footer-text text-center">
          <p>All Right Reserved!</p>
          <p><a href="{{ site.footer-copyright-url }}">{{ site.footer-copyright-text }}</a> &copy; {{
            site.footer-copyright-year }} Copyright</p>
        </div>
        <div class="footer-text text-center">
          <p>Ingenieurbüro Marcus Brand</p>

          <p> GTÜ Vertragspartner</p>
            
              <p>  Dückerweg 21</p>
            
                <p>  44867 Bochum</p>
            
                  <p> 017655022369</p>
            </p>
        </div>
      </div>
    </div>

  </div>
</footer>

<!-- Go To Top Button -->
<a href="#home" class="go-to-top-button"><i class="pe-7s-angle-up"></i></a>
