<!-- Site Head -->
<head>
  <meta charset="utf-8" />
  <title>{{ page.title | strip_html }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.PNG" title="Favicon" />
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script async src="https://cdn.snipcart.com/themes/v3.2.2/default/snipcart.js"></script>
  <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.2.2/default/snipcart.css" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <!-- Importing Styles -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/amplitudejs@5.3.0-beta.14/dist/amplitude.min.js"></script>
  <script type="text/javascript" src="js/functions.js"></script>
  <!-- Include Style Sheet -->
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/amplitude.css"/>
</head>